/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.5em;
    font-weight: 200;
}

p {
    font-weight: 300;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 65px;
    padding: 10px;
}

ul{
    list-style-type: none;
    display:flex;
    justify-content: space-evenly;
    margin: 20px;
}

ul>li {
    margin: 10px;
}

h1{
    font-size: 75px;
}

#welcome {
    display:flex;
    color:white;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100%;
    text-align:center;
    background-image: url("/images/landing.jpg");
    background-size: cover;
}

#features {
    display:flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
}

#features h2 {
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 75px;
    width:450px;
}

#features h3 {
    color: #00B172;
}

#features img{
    width:100px;
}

#flex-feature{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

.feature-section{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

/* YEEZY SECTION */

#yeezy {
    background:#00B172;
    color: white;
    background-image: url('/images/spotify-icon-white.png');
    background-repeat: no-repeat;
    background-size: 150px;
    background-position-x: 50%;
    background-position-y: 50%;
    margin: 30px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#yeezy-flex {
    width: 400px;
}

#yeezy-img img {
    height: 600px;
}


/* 
- section section height a little bigger
- green underline
- yeezy section h2 in one line
- yeezy section h2 underline
- change around some font styles 
*/